.card {
  color: white;
  display: grid;
  background: rgb(60, 62, 68);
}

.card h2,
.card p {
  padding-left: 0.75rem;
  margin: 0;
}
.card__portrait {
  padding: 0%;
}
.card__name {
  font-weight: bold;
  padding: 0.75rem;
}
.card__status {
  padding: 0.75rem;
}
.card__species {
  padding: 0.75rem;
}
.card__origin {
  padding: 0.75rem;
}
